<h1>Reserve a Table</h1>

<form action="/reserve" method="POST">

Name:<br>
<input name="name" required><br>

Phone:<br>
<input name="phone" required><br>

Email:<br>
<input name="email" required><br>

Date:<br>
<input type="date" name="date" required><br>

Time:<br>
<select name="time">
<option>17:00</option>
<option>18:00</option>
<option>19:00</option>
<option>20:00</option>
</select><br>

Guests:<br>
<input type="number" name="guests" min="1" max="10"><br><br>

<button type="submit">Reserve</button>

</form>

<br>
<a href="/admin">Admin</a>